body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  background-color: #f0b27a;
  
}

h1 {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: italic;
  font-size: 52px;
}

ul#nav-options {
  font-size: 1.5em;
}

form#init-form {
  text-align: center;
}

form#init-form > input, form#init-form > label {
  font-size: 1.5em;
}

div#main-nav {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  background-color: #D76666;
  margin-bottom: 20px;
}

img#img-logo {
  /* height: 100%; */
  width: 20%;
  margin: 20px;
}

div#user-info-container {
  display: flex;
}

li {
  list-style-type: none;
}

div#li-comments, div#li-posts {
  margin: 20px;
}

ul#comment-list, ul#posts-list {
  width: 50%;
  margin: 20px;
}

li.user-comment {
  margin-bottom: 5px;
}

li.reddit-sub {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: italic;
}

div.post-body {
  /* position: absolute;
  top: 100%; */
  color: rgb(42, 97, 170);
}

div[class*='hide-description'] {
  display: none;
}

/* li.user-post-title {
  font-size: 0.5em;
} */


div.post-body {
  font-size: 0.7em;
}