
div#main-nav {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  background-color: #D76666;
  margin-bottom: 20px;
}

img#img-logo {
  /* height: 100%; */
  width: 20%;
  margin: 20px;
}

div.post-body {
  /* position: absolute;
  top: 100%; */
  color: blueviolet;
}

div[class*='hide-description'] {
  display: none;
}

li.user-post-title {
  color: #6597D7;
}